<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Subreddits</h1>
    </ion-header-bar>
    <ion-content  id="subreddits-list" 
                  overflow-scroll="true" 
                  scroll-reaches-bottom 
                  physical-list="#subreddits-list .list" 
                  bottom-reached-event-name="scrollings.subredditsListBottomReached" 
                  clear-threshold-event-name="scrollings.subredditsListClearThreshold"
                  wait-loader
                  append-to="#subreddits-list ion-list"
                  append-event-name="scrollings.showSubredditsListLoader"
                  remove-event-name="scrollings.removeSubredditsListLoader"
                  loader-image-path="./img/reload.svg"
                  force-scroll-bottom="#subreddits-list"
                  loader-css='{"margin" : "0 auto", "display" : "block", "width" : "25px", "height" : "25px"}'>
      <ion-list>
        <ion-item nav-clear>
          <input type="text" ng-model="subredditListsKeyword" ng-change="filterSubredditsList(subredditListsKeyword)" placeholder="Filter Subreddits List">
        </ion-item>
        <ion-item nav-clear menu-close>
          <a href="" ng-click="selectSubreddit({subreddit : 'gonewild'})">
            Gone Wild
          </a>
        </ion-item>
        <ion-item nav-clear menu-close ng-repeat="item in listings">
          <a href="" ng-click="selectSubreddit({subreddit : item.data.display_name})">
            {{ item.data.title }}
          </a>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
