<ion-modal-view view-title="Comments">
	<ion-content>
		<p recursive-comments="comments"></p>
  </ion-content>
</ion-view>

<style>

.level1 { margin-left: 0; }
.level2 { margin-left: 5px; }
.level3 { margin-left: 10px; }
.level4 { margin-left: 15px; }
.level5 { margin-left: 20px; }
.level6 { margin-left: 25px; }
.level7 { margin-left: 30px; }
.level8 { margin-left: 35px; }
.level9 { margin-left: 40px; }
.level10 { margin-left: 45px; }
.level11 { margin-left: 50px; }
.level12 { margin-left: 55px; }
.level13 { margin-left: 60px; }
.level14 { margin-left: 65px; }
.level15 { margin-left: 70px; }
.level16 { margin-left: 75px; }
.level17 { margin-left: 80px; }
.level18 { margin-left: 85px; }
.level19 { margin-left: 90px; }
.level20 { margin-left: 95px; }


</style>